body{
    background-color: #121212;
    color: #1db954;
    font-family: Arial, sans-serif;
    text-align: center;
}
h1, h2 {
    color: #fff;
}
form{
    background: #181818;
    padding: 20px;
    border-radius: 10px;
    display: inline-block;
}
input, button{
    display: block;
    margin: 10px auto;
    padding: 10px;
    width: 80%;
    border: none;
    border-radius: 5px;
}
input{
    background: #282828;
    color: white;
}
button{
    background: #1DB954;
    color: white;
    cursor: pointer;
}
ul{
    list-style: none;
    padding: 0;
}
li{
    background: #181818;
    margin: 10px auto;
    padding: 10px ;
    border-radius: 5px;
    width: 60%;
    color: white;
}
.delete-btn{
    background-color: red;
color: white;
padding: 5px;
border: none;
border-radius: 5px;
cursor: pointer;

}